*{
    font-size: 1.2rem;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.main{
    border: 1px solid;
    min-height: 50vh;
    min-width: 30rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
}

.main h1{
    text-align: center;
}

.form-input{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.form-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.form-buttons button{
    cursor: pointer;
}


